name: Label with help wanted
on:
  issue_comment:
    types: created
jobs:
  one:
    runs-on: ubuntu-latest
    if: startsWith(github.event.comment.body, '#help-wanted')
    steps:
      - run: |
          echo "Labeling issue ${{ github.event.issue.number }} with 'help wanted'"
          curl -X POST -H "Accept: application/vnd.github+json" -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -d '{"labels": ["help wanted"]}' https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels
